---
---

<section class="relative z-10 py-8" style="background-color: #001325;">
  <div class="container-ip">
    <div class="grid-bento">

      <!-- "Backed by" label -->
      <div class="bento-cell bento-cell--pad bento-cell--center col-span-1 row-span-2 !bg-transparent !border-0">
        <p class="text-sm text-ip-white-muted/50 whitespace-nowrap">Backed by</p>
      </div>

      <!-- Lifeline Ventures -->
      <div class="bento-cell bento-cell--pad bento-cell--center col-span-2 row-span-2 !bg-transparent !border-0">
        <img src="/images/trust/lifeline-ventures.svg" alt="Lifeline Ventures" width="52" height="40" class="h-[60px] w-auto max-w-full opacity-75" />
      </div>

      <!-- Notion Capital -->
      <div class="bento-cell bento-cell--pad bento-cell--center col-span-2 row-span-2 !bg-transparent !border-0">
        <img src="/images/trust/notion-capital-white.png" alt="Notion Capital" width="150" height="40" class="w-[90px] h-auto opacity-75" />
      </div>

      <!-- Spacer to push compliance row to a clean second row -->
      <div class="col-span-7 row-span-2 !bg-transparent !border-0" aria-hidden="true"></div>

      <!-- "Complies to" label -->
      <div class="bento-cell bento-cell--pad bento-cell--center col-span-1 row-span-2 !bg-transparent !border-0">
        <p class="text-sm text-ip-white-muted/50 whitespace-nowrap">Complies to</p>
      </div>

      <!-- ISO 27001 -->
      <div class="bento-cell bento-cell--pad bento-cell--center col-span-2 row-span-2 !bg-transparent !border-0">
        <img src="/images/trust/badge-1.png" alt="ISO 27001" width="44" height="44" class="h-[80px] w-auto max-w-full opacity-70" />
      </div>

      <!-- ISO 42001 -->
      <div class="bento-cell bento-cell--pad bento-cell--center col-span-2 row-span-2 !bg-transparent !border-0">
        <img src="/images/trust/badge-2.png" alt="ISO 42001" width="44" height="44" class="h-[80px] w-auto max-w-full opacity-70" />
      </div>

      <!-- SOC 2 Type II -->
      <div class="bento-cell bento-cell--pad bento-cell--center col-span-2 row-span-2 !bg-transparent !border-0">
        <img src="/images/trust/SVG/SOC2.svg" alt="SOC 2 Type II" width="44" height="44" class="h-[80px] w-auto max-w-full opacity-70" />
      </div>

      <!-- GDPR -->
      <div class="bento-cell bento-cell--pad bento-cell--center col-span-2 row-span-2 !bg-transparent !border-0">
        <img src="/images/trust/SVG/GDPR.svg" alt="GDPR" width="44" height="44" class="h-[80px] w-auto max-w-full opacity-70" />
      </div>

    </div>
  </div>
</section>
